<template name="Side_bar">
  <section id="menu">
    <h1>begin</h1>
    <div class="language-toggle">
      {{#each language in languages}}
        {{#if isActiveLanguage language}}
          <span class="active">{{language}}</span>
        {{else}}
          <a href="#" class="js-toggle-language">{{language}}</a>
        {{/if}}
      {{/each}}
    </div>
    {{#if currentUser}}
    <div class="btns-group-vertical">
      <a href="#" class="js-user-menu btn-secondary">
        {{#if userMenuOpen}}
          <span class="icon-arrow-up"></span>
        {{else}}
          <span class="icon-arrow-down"></span>
        {{/if}}

        {{emailLocalPart}}
      </a>
      {{#if userMenuOpen}}
        <a class="js-logout btn-secondary">
          {{_ 'layouts.appBody.logout'}}
        </a>
      {{/if}}
    </div>
    {{else}}
      <div class="btns-group">
        <a href="{{pathFor 'signin'}}" class="btn-secondary">
          {{_ 'layouts.appBody.login'}}
        </a>
        <a href="{{pathFor 'join'}}" class="btn-secondary">
          {{_ 'layouts.appBody.join'}}
        </a>
      </div>
    {{/if}}

    <div class="list-todos">
      <a class="js-new-list link-list-new">
        <span class="icon-plus"></span>
        {{_ 'layouts.appBody.newList'}}
      </a>

      {{#each list in lists}}
        <a href="{{pathFor 'Lists.show' _id=list._id}}" title="{{list.name}}"
            class="list-todo {{activeListClass list}}">
          {{#if list.userId}}
            <span class="icon-lock"></span>
          {{/if}}

          {{#if list.incompleteCount}}
            <span class="count-list">{{list.incompleteCount}}</span>
          {{/if}}

          {{list.name}}
        </a>
      {{/each}}
    </div>
    <h1>end</h1>
  </section>
</template>